
.primary-content {
  @extend %content;
  @extend %centered;
  @extend %t-border;
  padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
  @extend %content;
  @extend %t-border;
  @extend %clearfix;
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}
/* Home Page */
.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid $color-prim;
  margin: 105px 0 60px;
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba($black, 1);

  border-radius: $br-main;

}

  .fish:before {
    content:"Lets talk about some Bloody fish";
    color: #ddd;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid $color-prim;
    display:table;
    clear: both;
  }

/* Secondary Page */

.ski-resorts {
  color: $white;
  text-align: center;
  padding: 10px 12px;
  margin: 50px 0 20px;
  border-top: 10px solid $malibu;
  background: linear-gradient(
   rgba($black, 0.5),
   rgba($black, 0.6)
   ), url('../img/ski-resort.jpg') no-repeat center;
  background-size: cover;
  text-shadow: 2px 2px 10px 2px rgba($black, 1),
  3px 5px 5px 2px,
  1px 2px 10px 5px,
  5px 3px 10px 1px,
  3px 2px 10px 2px;
  text-decoration-style: double;
  max-width: 730px;
  min-height: 440px;
}

.ski-info {
  padding: 80px 10px;
}